@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ffffff;
  --secondary: #137213;
  --light-green-1: rgba(19, 114, 19, 0.5);
  --light-green-2: rgba(19, 114, 19, 0.09);
  --white: #161616;
  --white-80: rgba(22, 22, 22, 0.8);
  --white-70: rgba(22, 22, 22, 0.7);
  --white-50: rgba(22, 22, 22, 0.5);
  --white-40: rgba(22, 22, 22, 0.4);
  --golden: #c2a404;
}

body.dark-mode {
  --primary: #011001;
  --secondary: #137213;
  --light-green-1: rgba(19, 114, 19, 0.5);
  --light-green-2: rgba(19, 114, 19, 0.09);
  --white: #f6f6f6;
  --white-80: rgba(246, 246, 246, 0.8);
  --white-70: rgba(246, 246, 246, 0.7);
  --white-50: rgba(246, 246, 246, 0.5);
  --white-40: rgba(246, 246, 246, 0.4);
  --golden: #c2a404;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: var(--primary);
  color: var(--secondary);
  transition: background-color 0.3s, color 0.3s;
}

/* navbar----------------------------------------------------------------  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 5% 1.1rem 5%;
  background: linear-gradient(to bottom, #20af203a, var(--primary));
  transition: background-color 0s;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.navbar.scrolled {
  backdrop-filter: blur(10px);
}

.navbar .nav-left img {
  width: auto;
  height: 2rem;
}

.navbar .nav-right {
  display: flex;
  align-items: center;
}

.navbar .nav-right img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: transform 0s;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-right {
    margin-top: 1rem;
  }
}

/* hero-----------------------------------  */
#main {
  padding: 2rem 5%;
}

#main h1 {
  font-size: 2.4rem;
  line-height: 50px;
  margin: 3rem auto 0rem auto;
  width: 90%;
  text-align: center;
  color: var(--white);
}

#main p {
  /* line-height: ; */
  text-align: center;
  margin: auto;
  padding: 15px;
  width: 50%;
  color: var(--white-70);
  font-weight: 400;
}

/* search ---------------------------------------------- */
#searchBox {
  padding: 2rem 20%;
  margin-top: 1.5rem;
}

#searchDiv {
  border-radius: 0.5rem;
  background-color: var(--light-green-2);
  border: 1px solid var(--light-green-1);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#searchDiv h2 {
  color: var(--white);
}

.search-and-btns {
  display: flex;
  justify-content: space-between;
  height: 2.2rem;
}

.search-and-btns input {
  width: 64%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: rgba(22, 22, 22, 0.1);
  color: var(--white-40);
}

#filterBtns {
  width: 35%;
  display: flex;
  justify-content: end;
  align-items: center;
  /* background-color: rgba(22, 22, 22, 0.1); */
  color: var(--white-40);
}

#filterBtns button {
  background-color: rgba(22, 22, 22, 0.1);
  border: none;
  outline: none;
  width: 49.4%;
  height: 100%;
}

.selected {
  /* background-color: var(--secondary); */
  color: var(--primary);
}
