@import url("https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #000000;
  --g1: #e84263;
  --g2: #7a1cbe;
  --white: #f4f4f6;
}

body {
  overflow-x: hidden;
  font-family: "Poppins";
}
html {
  scroll-behavior: smooth;
}

.dm {
  font-family: "DM Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--g1), var(--g2));
  animation: gradientAnimation 5s ease infinite;
}
::selection {
  background: white;
  color: var(--bg);
}

/* navbar  */
/* Additional Styles for Safari and Other Browsers */
.navbar-logo {
  max-width: 100%;
  height: auto;
  max-height: 3.5rem; /* Adjust as needed */
  object-fit: contain; /* Ensure the logo scales properly */
}

/* Safari specific adjustments */
@supports (-webkit-overflow-scrolling: touch) {
  .navbar-logo {
    max-height: 3.5rem; /* Adjust if Safari has specific issues */
  }
}

.gradient {
  background: linear-gradient(135deg, var(--g2), var(--g1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* gradient bg  */
/* Define the keyframes for the gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Apply the gradient and animation to the button */
.moving-bg {
  background: linear-gradient(45deg, var(--g1), var(--g2));
  background-size: 200% 200%; /* Make sure the background is large enough to animate */
  animation: gradientAnimation 5s ease infinite; /* Adjust duration and timing as needed */
}

/* features  */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gradient-bg {
  background: linear-gradient(45deg, #e84263, #7a1cbe, #242931);
  background-size: 200% 200%;
  animation: gradientMove 3s ease infinite;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card:hover .gradient-bg {
  opacity: 0.3;
}
