@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

htm {
  scroll-behavior: smooth;
}

:root {
  --primary: #ffffff;
  --secondary: #137213;
  --light-green-1: rgba(19, 114, 19, 0.5);
  --light-green-2: rgba(19, 114, 19, 0.09);
  --white: #161616;
  --white-80: rgba(22, 22, 22, 0.8);
  --white-70: rgba(22, 22, 22, 0.7);
  --white-50: rgba(22, 22, 22, 0.5);
  --white-40: rgba(22, 22, 22, 0.4);
  --white-08: rgba(22, 22, 22, 0.08);
  --golden: goldenrod;
  --slate: #f6f6f6;
}

body.dark-mode {
  --primary: #011001;
  --secondary: #137213;
  --light-green-1: rgba(19, 114, 19, 0.5);
  --light-green-2: rgba(19, 114, 19, 0.09);
  --white: #f6f6f6;
  --white-80: rgba(246, 246, 246, 0.8);
  --white-70: rgba(246, 246, 246, 0.5);
  --white-50: rgba(246, 246, 246, 0.3);
  --white-40: rgba(246, 246, 246, 0.4);
  --white-08: rgba(246, 246, 246, 0.08);
  --golden: goldenrod;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  background-color: #011001;
  color: var(--secondary);
  transition: background-color 0.3s, color 0.3s;
}

/* navbar----------------------------------------------------------------  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 5%;
  /* background: linear-gradient(to bottom, #12771227, #f6f6f600); */
  /* transition: background-color 0s; */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar.scrolled {
  backdrop-filter: blur(8px);
}

.navbar .nav-left img {
  width: fit-content;
  height: 2rem;
}

.navbar .nav-right {
  display: flex;
  align-items: center;
}

.nav-right ul {
  border: 1px solid #137213a0;
  box-shadow: inset 0px 0px 7px #13721380;
  border-radius: 50px;
  padding: 7.8px 20px;
  display: flex;
  gap: 22px;
  margin-right: 0.7rem;
  background-color: #011001;
}
.nav-right ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.506);
  font-size: 13.1px;
  text-transform: uppercase;
  font-weight: 500;
  transition: transform 0.3s ease;
  letter-spacing: 0.5px;
}

.nav-right ul a:hover {
  color: white;
}

.active {
  color: white !important;
}

#loginBtn {
  text-decoration: none;
  background-color: goldenrod;
  padding: 7.5px 18px;
  color: var(--slate);
  text-transform: uppercase;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.355);
  font-size: 13.3px;
  border-radius: 50px;
  margin-right: 0.7rem;
  font-weight: 520;
}

.navbar .nav-right img {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: transform 0s;
}

@media (max-width: 768px) {
  .navbar .nav-left img {
    height: 1.5rem;
  }

  .navbar .nav-right img {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media (max-width: 480px) {
  .navbar .nav-left img {
    height: 1.6rem;
  }

  .navbar .nav-right img {
    width: 1.9rem;
    height: 1.9rem;
  }
}

/* hero-----------------------------------  */

#main {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--primary);
}

#hero {
  position: relative;
  width: 100%;
  height: 89vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6)
  );
  z-index: 10;
}

.hero-content {
  position: absolute;
  right: 10%;
  z-index: 20;
  max-width: 600px;
  text-align: start;
  padding: 20px;
}

.hero-content h1 {
  font-size: 2.4rem;
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.477));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-bottom: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.767);
}

.hero-content p {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 25px;
  font-weight: 400;
}

.hero-button {
  margin-top: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  padding: 8px 20px;
  border: 1px solid var(--golden);
  color: var(--golden);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9rem;
  border-radius: 50px;
  transition: background-color 0.4s ease;
  position: relative;
  z-index: 10;
  overflow-x: hidden;
}

.hero-button span i {
  display: inline-block;
  font-size: 1rem;
}

.hero-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transform: translateX(-120%);
  z-index: -1;
  background-color: var(--golden);
  transition: transform 0.3s ease;
}

.hero-button:hover::before {
  transform: translateX(0);
}

.hero-button:hover {
  color: black;
  font-weight: 500;
  background-color: #ffbf0000;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-button {
    font-size: 0.875rem;
    padding: 10px 20px;
  }
}



/* footer----------------------------------------------------------------------------------------------  */
.footer {
  height: fit-content;
  padding: 3.2rem 6rem 2rem 6rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-green-2); /* Default background color */
}

.footer-light {
  background-color: #011001e8; /* Light mode footer color */
}

.footer-dark {
  background-color: #062d06; /* Dark mode footer color */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
  flex-wrap: wrap; /* Allow wrapping for responsive design */
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  gap: 1rem;
  flex: 1 1 300px; /* Flex item to be responsive */
}

.footer-left img {
  height: 2.3rem; /* Increased height */
}

.footer-left-para {
  margin-top: 1rem;
  line-height: 1.3rem;
  color: rgba(255, 255, 255, 0.512);
  font-size: 16px;
  font-weight: 300;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 11px;
  flex: 1 1 300px; /* Flex item to be responsive */
}

.footer-nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; /* Allow wrapping for responsive design */
}

.footer-nav li {
  list-style: none;
  color: var(--slate);
}

.footer-nav li a {
  font-weight: 500;
  color: var(--slate);
  text-decoration: none;
  font-weight: 500;
  padding-left: 0.8rem;
}

.footer-nav li a:hover {
  color: var(--golden) !important;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.footer-social a {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  text-decoration: none;
}

.footer-social {
  margin-top: 1rem;
}

#icon {
  color: rgba(255, 255, 255, 0.6);
  scale: 1;
}

#icon:hover {
  color: var(--slate);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  flex-wrap: wrap; /* Allow wrapping for responsive design */
}

.footer-hr {
  width: 100%;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.341);
}

.footer-bottom {
  margin-top: 2.5rem;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.523);
  font-weight: 300;
}

.footer-links {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; /* Allow wrapping for responsive design */
}

.footer-links a {
  color: rgba(255, 255, 255, 0.523);
  font-size: 14px;
  font-weight: 300;
}

.footer-links a:hover {
  color: white;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

/* Media queries for responsive design */
@media (max-width: 780px) {
  .footer {
    padding: 2.5rem 3rem;
  }

  .footer-content {
    gap: 1.5rem;
  }

  .footer-right {
    margin-top: 1rem;
  }

  .footer-nav {
    align-items: flex-start; /* Align items to the start */
  }

  .footer-nav li a {
    padding-left: 0;
  }

  .footer-bottom p,
  .footer-links a {
    font-size: 14px;
  }
}

@media (max-width: 735px) {
  .footer {
    margin-top: 4rem;
  }
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-left {
    margin-bottom: -9rem;
  }

  .footer-right {
    margin-bottom: -9rem;
  }

  .footer-left,
  .footer-right {
    align-items: flex-start;
  }

  .footer-nav {
    /* flex-direction: column; */
    align-items: flex-start; /* Align items to the start */
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 10px;
  }

  .footer-social a {
    font-size: 1.3rem;
    /* margin-left: 0.5rem; */
    text-decoration: none;
  }

  .footer-social {
    /* background-color: salmon; */
    margin-left: -10px;
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 2rem 1.5rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
    gap: 1rem;
  }

  .footer-left,
  .footer-right {
    align-items: flex-start; /* Align items to the start */
  }

  .footer-social {
    margin-top: 0px;
  }

  .footer-left img {
    height: 1.9rem;
  }

  .footer-nav li a {
    font-size: 14px;
  }

  .footer-nav {
    align-items: flex-start; /* Align items to the start */
  }

  .footer-nav li a {
    padding-left: 0;
  }

  .footer-bottom {
    margin-top: 1rem;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
    gap: 0.5rem;
  }

  .footer-bottom p,
  .footer-links a {
    font-size: 14px;
  }
}
