@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Oxanium:200,300,regular,500,600,700,800); /* for numbers */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Public+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #151b24;
  --primary: #57fec7;
  --white: white;
  --white-08: rgba(255, 255, 255, 0.8);
  --white-06: rgba(255, 255, 255, 0.6);
  --white-05: rgba(255, 255, 255, 0.5);
  --white-04: rgba(255, 255, 255, 0.4);
  --white-03: rgba(255, 255, 255, 0.3);
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: rgba(255, 255, 255, 0.3);
}

.roboto {
  font-family: "Roboto";
}
.oxanium {
  font-family: "Oxanium";
}
.inter {
  font-family: "Inter";
}
.publicsans {
  font-family: "Public Sans";
}
.ubuntu {
  font-family: "Ubuntu";
}

/* nav-------------------  */
.active {
  color: var(--primary);
  padding-bottom: 2px;
  border-bottom: 1.5px solid var(--primary);
}

/* hero animation  */
@keyframes orbit {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes electron-move {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.atom-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  perspective: 1000px;
}

.nucleus {
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, #28c691, #0da975);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px #57fec7;
}

.orbit {
  position: absolute;
  border-radius: 50%;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  animation: orbit linear infinite;
  transform-style: preserve-3d;
}

.orbit:nth-child(2) {
  width: 260px;
  height: 260px;
  top: 6.5%;
  left: 6.5%;
  animation-duration: 8s;
}

.orbit:nth-child(3) {
  width: 220px;
  height: 220px;
  top: 13.3%;
  left: 13.3%;
  animation-duration: 10s;
}

.orbit:nth-child(4) {
  width: 180px;
  height: 180px;
  top: 20%;
  left: 20%;
  animation-duration: 12s;
}

.orbit:nth-child(5) {
  width: 140px;
  height: 140px;
  top: 26.5%;
  left: 26.5%;
  animation-duration: 14s;
}

.orbit:nth-child(6) {
  width: 100px;
  height: 100px;
  top: 33.3%;
  left: 33.3%;
  animation-duration: 16s;
}

.orbit:nth-child(7) {
  width: 60px;
  height: 60px;
  top: 40%;
  left: 40%;
  animation-duration: 18s;
}

.electron {
  width: 12px;
  height: 12px;
  background-color: goldenrod;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px gold;
  animation: electron-move 2s ease-in-out infinite;
}

/* animations for blogs section images*/
.image-container img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.image-container:hover img {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
