@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Oxanium:200,300,regular,500,600,700,800); /* for numbers */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Public+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #142135;
  --primary: #50bc48;
  --white: white;
  --yellow: #ffbd41;
  --white-08: rgba(255, 255, 255, 0.8);
  --white-06: rgba(255, 255, 255, 0.6);
  --white-05: rgba(255, 255, 255, 0.5);
  --white-04: rgba(255, 255, 255, 0.4);
  --white-03: rgba(255, 255, 255, 0.3);
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: rgba(255, 255, 255, 0.3);
}

.roboto {
  font-family: "Roboto";
}
.oxanium {
  font-family: "Oxanium";
}
.inter {
  font-family: "Inter";
}
.publicsans {
  font-family: "Public Sans";
}
.header-text {
  color: var(--white);
}

.card {
  /* border: 1px solid var(--white-03); */
  padding: 20px;
  /* background-color: var(); */
  text-align: center;
}

.card-value {
  font-size: 1.5rem;
  font-family: "Oxanium", sans-serif;
  color: var(--white);
  font: bold;
  margin-bottom: 5px;
}

.card-label {
  font-size: 1rem;
  color: var(--white-03);
}

.performance-positive {
  color: var(--primary);
}

.performance-negative {
  color: #ff4d4f;
}
/* nav-------------------  */
.active {
  color: var(--primary);
  padding-bottom: 2px;
  border-bottom: 1.5px solid var(--primary);
}

/*table table design*/

#uranium-compo {
  /* padding: 3rem; */
  width: 100%;
  margin: 0 auto 5rem auto;
}
.uranium-stocks-heading {
  margin-top: 6rem;
  color: var(--primary);
  text-align: center;
  font-size: 2rem;
}
.component-uranium {
  /* border: 1px solid var(--yellow); */
  /* border-radius: 5px; */
  position: relative;
  z-index: 10;
  /* background-color: var(--light-green-2); */
}

.uranium-heading {
  padding: 2rem 2.5rem;
}

@media (max-width: 500px) {
  .component-uranium {
    padding: 1rem 0.8rem;
  }

  .uranium-heading {
    padding: 0.1rem 2.5rem;
  }
}

tbody tr .symbol {
  color: var(--yellow);
  font-weight: 800;
}

/* .filters {
  padding: 1.7rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} */

/* .dropdown-container {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  padding: 10px 0;
  scrollbar-width: thin;
 
  flex-wrap: nowrap; 
  overflow-x: auto;
} */

/* .dropdown-wrapper {
  
  position: relative;
  display: flex;
  flex-direction: column;
} */

/* .dropdown-label {
  position: absolute;
  top: -8px;
  left: 8px;
  background-color: var(--light-green-2);
  padding: 0 6px;
  font-size: 0.66rem;
  border-radius: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.797);
} */

/* .custom-dropdown {
  
  padding: 8px 13px;
  font-weight: 300;
  
  border: none;
  border-radius: 4px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--white-08);
  color: var(--white);
  font-size: 0.87rem;
  min-width: 120px;
} */

/* .export-btn {
  align-self: flex-end;
  padding: 10px 15px;
  background-color: var(--golden);
  color: #011216;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.86rem;
  font-weight: 600;
  white-space: nowrap;
} */

@media (max-width: 768px) {
  /* .dropdown-container {
    flex-wrap: nowrap; 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
  } */

  /* .custom-dropdown,
  .export-btn {
    flex-shrink: 0; 
  } */

  .uranium-heading {
    padding: 2rem 0.5rem;
  }
  .uranium-stocks-heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  /* .custom-dropdown {
    
    padding: 8px 9px;
    font-weight: 300;
   
    border: none;
    border-radius: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light-green-1);
    color: white;
    font-size: 0.8rem;
    min-width: 119px;
  } */

  .uranium-stocks-heading {
    font-size: 1.3rem;
  }
}

.uranium-stocks-table {
  width: 100%;
  border-collapse: collapse;
  /* background-color: var(--light-green-2); */
  /* border: 1px solid var(--bg); */
  /* border-radius: 5px; */
  overflow: hidden;
}

.uranium-stocks-table th,
.uranium-stocks-table td {
  padding: 1.2rem;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.87rem;
  color: rgba(255, 255, 255, 0.8);
}

.uranium-stocks-table th {
  background-color: #ffbd41;
  /* color: #f6f6f6; */
  color: var(--bg);
  font-weight: 600;
  vertical-align: top;
}

.uranium-stocks-table td {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  /* background-color: gray; */
  background-color: var(--bg);
}

.uranium-stocks-table tr:hover td {
  /* background-color: var(--light-green-2); */
  background-color: rgba(17, 24, 39, 0.5);
  transition: background-color 0.2s ease;
  color: #fff;
}
.symbol {
  color: #ffbd41;
}

/* Responsive Table */
@media (max-width: 768px) {
  .uranium-stocks-table img {
    width: 50px;
    height: 50px;
  }

  .uranium-stocks-table th,
  .uranium-stocks-table td {
    padding: 0.7rem;
    font-size: 0.8rem;
  }
}
/* Responsive Styles */
@media (max-width: 1350px) and (min-width: 769px) {
  .uranium-stocks-table {
    border: none;
    overflow-x: auto;
    display: block;
  }
}

@media (max-width: 768px) {
  .uranium-stocks-table {
    border: none;
    overflow-x: auto;
    display: block;
  }
}

@media (max-width: 500px) {
  .uranium-stocks-table {
    border: none;
    overflow-x: auto;
    display: block;
  }

  .uranium-stocks-table th,
  .uranium-stocks-table td {
    font-size: 0.7rem;
  }

  #uranium-compo {
    padding: 1rem;
    width: 100%;
    margin: 1rem auto 5rem auto;
  }
}

/* .pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.pagination a {
  color: var(--dark-text);
  float: left;
  padding: 6px 10px;
  text-decoration: none;
  border: 1px solid var(--white-70);
  border-radius: 5px;
  transition: background-color 0.3s, var(--white-70) 0.3s;
  color: var(--white-70);
  font-size: 0.9rem;
}

.pagination a.active {
  background-color: var(--secondary);
  color: var(--primary);
  border: 1px solid var(--secondary);
}

.pagination a:hover:not(.active) {
  background-color: var(--secondary);
  color: var(--primary);
}

.pagination i {
  color: var(--white-70);
  font-weight: bolder;
}
.pagination i:hover {
  color: white;
}
@media (max-width: 600px) {
  .pagination {
    justify-content: center;
    gap: 0.3rem;
  }

  .pagination a {
    padding: 4px 8px;
    font-size: 0.8rem;
  }
} */
